@font-face {
    font-family: 'rubikregular';
    src: url('fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('fonts/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'snigletextrabold';
    src: url('fonts/sniglet-extrabold-webfont.woff2') format('woff2'),
         url('fonts/sniglet-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *::before, *::after {
    box-sizing: border-box;
}
  

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'rubikregular', sans-serif; 
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
   
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

h1 {
    font-family: 'snigletextrabold', sans-serif; 
}

.container {
    display: flex;
    flex-flow: row nowrap;
}

.logo {
    height: 100vh;
}

.logo img {
    height: 100%;
    object-fit: cover;
}

.content {
    width: 100%;
}

.align-content {
    width: 500px;
    margin: 0px 50px;
}

.top-content {
    margin-top: 45px;
    margin-bottom: 40px;
}

.bottom-content {
    margin-top: 40px;
}

.form {
    box-shadow: 5px 2px 6px rgb(114, 110, 110);
}

form {
    display: flex;
    flex-flow: row nowrap;
    padding: 30px 0px;
    font-size: 12px;
}

label, input {
    display: block;
    margin: 0px 50px;
}